keybinds {
  pane {
    bind "Ctrl w" { SwitchFocus; }
  }
  shared_except "pane" "locked" {
    bind "Ctrl w" { SwitchToMode "Pane"; }
  }
  shared_except "locked" {
    bind "Ctrl n" { NewPane "Down"; }
    bind "Ctrl p" { NewPane "Right"; }
    bind "Ctrl q" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
    bind "Ctrl u" { SwitchToMode "Resize"; }
    bind "Ctrl ^" { Quit; }
  }
}
themes {
  catppuccin-latte {
    bg "#acb0be" // Surface2
    fg "#acb0be" // Surface2
    red "#d20f39"
    green "#40a02b"
    blue "#1e66f5"
    yellow "#df8e1d"
    magenta "#ea76cb" // Pink
    orange "#fe640b" // Peach
    cyan "#04a5e5" // Sky
    black "#dce0e8" // Crust
    white "#4c4f69" // Text
  }
}
default_shell "nu"
theme "catppuccin-latte"
copy_command "pbcopy"
